/* Step1.module.css */
.step1container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    max-width: 450px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.step1container input,
.step1container textarea,
.step1container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Add more specific styles for input types, placeholders, etc. as needed */
